<div class="min-h-screen bg-gray-100">
  <!-- Header -->
  <header class="bg-blue-600 text-white sticky top-0 z-50 shadow-md">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center py-3">
        <!-- Logo/Título e Menu Principal -->
        <div class="flex items-center space-x-8">
          <h1 class="text-2xl font-bold">
            <a routerLink="/">Device Control</a>
          </h1>

          <!-- Navegação Desktop -->
          <nav class="hidden lg:block">
            <ul class="flex space-x-6">
              <li>
                <a routerLink="/" pRipple class="px-3 py-2 rounded-md hover:bg-blue-700 transition-colors flex items-center">
                  <i class="pi pi-home mr-2"></i> Home
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Botões de Ações -->
        <!-- Controles de Acesso -->
        <div class="flex flex-col lg:flex-row lg:space-x-2 space-y-2 lg:space-y-0 mr-2">


          <button *ngIf="isLoggedIn$ | async"
                  pButton pRipple
                  icon="pi pi-user"
                  label="Logout"
                  (click)='logout()'
                  class="p-button-sm p-button-outlined p-button-rounded">
          </button>
          


        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main class="py-8">
    <router-outlet></router-outlet>
    <p-toast position="top-right"></p-toast>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-4 mt-12">
    <div class="container mx-auto text-center">
      <p>&copy; 2025 Portal Device Control | Todos os direitos reservados</p>
    </div>
  </footer>
</div>




